<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversation Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="conversation-container">
        <div class="user-list"></div>
        <div class="convesation-details">
          <div class="chat-headline">
            <img class="profile-image" src="images/user.jpg" alt="" />
            <p class="user-name">Moshiul Azam</p>
          </div>
        </div>
        <div class="conversation">
          <div class="incoming">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
          <div class="incoming">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
          <div class="outgoing">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>

          <div class="incoming">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
          <div class="incoming">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
          <div class="outgoing">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
          <div class="incoming">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
          <div class="incoming">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
          <div class="outgoing">
            <p>
              Hey, how are you? WHat going on today? I have been looking for in
              the campus but I couldn't find you there. WOuld you please share
              your any alternate number?
            </p>
          </div>
        </div>
        <div class="send-message-div">
          <div class="send-message">
            <img class="attachment" src="images/attachment.svg" alt="" />
            <input
              type="email"
              class="form-control"
              placeholder="Write message"
            />
            <img class="send" src="images/send.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
